{% extends 'layouts.html' %}

{% block content %}

{% include '_messages.html'%}

<div class="container-fluid">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Administrador</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/admin">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/marcas">Fabricantes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/categorias">Categorias</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Add Produtos
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="{{url_for('addproduto')}}">Add Produto</a>
            <a class="dropdown-item" href="{{url_for('addmarca')}}">Add Marca</a>
            <a class="dropdown-item" href="{{url_for('addcat')}}">Add Categoria</a>
          <div/>
        </li>
      </ul>
    </div>
  </div>
</nav>
</div>


<div class="container-fluid mt-4">
    <table class="table table-sm table-striped">
        <thead>
            <th>Serial</th>
            <th>Produto</th>
            <th>Preco</th>
            <th>Disconto</th>
            <th>Fabricante</th>
            <th>Foto</th>
            <th>Editar</th>
            <th>Deletar</th>
        </thead>

        <tbody>
            {% for produto in produtos %}
            <tr class="align-middle">
                <td>{{loop.index}}</td>
                <td>{{produto.name}}</td>
                <td>{{produto.price}}</td>
                <td>{{produto.discount}} %</td>
                <td>{{produto.marca.name}}</td>
                <td><img src="{{url_for('static', filename='images/' + produto.image_1)}}" width="100" height="80"></td>
                <td><a href="{{url_for('updateproduto', id=produto.id)}}" class="btn btn-outline-success btn-sm">Editar</a></td>
                <td>
                  <button type="button" class="btn btn-outline-danger btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal-{{produto.id}}">
                  Deletar
                  </button>
                </td>
            </tr>
<div class="modal fade" id="exampleModal-{{produto.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">{{produto.name}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span class="text-danger">Deseja realmente deletar este produto?</span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-warning" data-bs-dismiss="modal">Cancelar</button>
        
        <form action="{{url_for('deleteproduto', id=produto.id)}}" method="POST">
          <button type="submit" class="btn btn-outline-danger">Deletar</button>
        </form>
      </div>
    </div>
  </div>
</div>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}